a:hover {
    color: #E6AE48
}
::selection {
    background: #E6AE48
}
a.more-link,
button,
.btn-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #E6AE48
}
button:active,
.btn-link:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background-color: #E6AE48
}
.gotop:hover {
    background-color: #E6AE48
}
.top-search {
    background-color: #E6AE48
}
.primary-menu ul#menu-primary > li.current-menu-parent,
.primary-menu ul#menu-primary > li.current-menu-ancestor,
.primary-menu ul#menu-primary > li.current-menu-item,
.primary-menu ul#menu-primary > li.current_page_item {
    color: #E6AE48;
}
.primary-menu ul#menu-primary > li.current-menu-parent i,
.primary-menu ul#menu-primary > li.current-menu-ancestor i,
.primary-menu ul#menu-primary > li.current-menu-item i,
.primary-menu ul#menu-primary > li.current_page_item i,
.primary-menu ul#menu-primary > li.current-menu-parent > a,
.primary-menu ul#menu-primary > li.current-menu-ancestor > a,
.primary-menu ul#menu-primary > li.current-menu-item > a,
.primary-menu ul#menu-primary > li.current_page_item > a {
    color: #E6AE48;
}
.primary-menu ul#menu-primary > li:hover > a {
    color: #E6AE48;
}
.primary-menu ul#menu-primary li.bd_menu_item ul.sub-menu li:hover > ul.sub-menu,
.primary-menu ul#menu-primary li.bd_mega_menu:hover > ul.bd_mega.sub-menu,
.primary-menu ul#menu-primary li.bd_menu_item:hover > ul.sub-menu,
.primary-menu ul#menu-primary .sub_cats_posts {
    border-top-color: #E6AE48;
}
div.nav-menu.primary-menu-dark a.menu-trigger:hover i,
div.nav-menu.primary-menu-light a.menu-trigger:hover i,
div.nav-menu.primary-menu-light a.menu-trigger.active i,
div.nav-menu.primary-menu-dark a.menu-trigger.active i {
    background: #E6AE48;
}
span.bd-criteria-percentage {
    background: #E6AE48;
    color: #E6AE48;
}
.divider-colors {
    background: #E6AE48;
}
.blog-v1 article .entry-meta a {
    color: #E6AE48;
}
.blog-v1 article .article-formats {
    background-color: #E6AE48;
}
.cat-links {
    background-color: #E6AE48;
}
.pagenavi span.pagenavi-current {
    border-color: #E6AE48;
    background-color: #E6AE48;
}
.pagenavi a:hover {
    border-color: #E6AE48;
    color: #E6AE48;
}
.widget {
    border-top-color: #E6AE48;
}
.new-box {
    border-top-color: #E6AE48;
}
.widget a:hover {
    color: #E6AE48;
}
.tagcloud a:hover {
    background: #E6AE48;
}
.masonry-more-link,
.bdaia-cats-more-btn,
ul.tabs_nav li.active a {
    color: #E6AE48;
}
.bd-tweets ul.tweet_list li.twitter-item a {
    color: #E6AE48;
}
.widget.bd-login .login_user .bio-author-desc a {
    color: #E6AE48;
}
.comment-reply-link,
.comment-reply-link:link,
.comment-reply-link:active {
    color: #E6AE48;
}
.gallery-caption {
    background-color: #E6AE48;
}
.slider-flex ol.flex-control-paging li a.flex-active {
    background: #E6AE48;
}
#folio-main ul#filters li a.selected {
    background: #E6AE48;
}
.search-mobile button.search-button {
    background: #E6AE48;
}
.gotop {
    background: #E6AE48;
}
.bdaia-posts-grid-post.format-video .post-image:after,
.sk-circle .sk-child:before,
#reading-position-indicator {
    background: #E6AE48;
}
#bdCheckAlso {
    border-top-color: #E6AE48;
}
.primary-menu ul#menu-primary > li:hover > a,
.primary-menu ul#menu-primary > li.current-menu-item > a,
.primary-menu ul#menu-primary > li.current_page_item > a,
.primary-menu ul#menu-primary > li.current-menu-parent > a,
.primary-menu ul#menu-primary > li.current-menu-ancestor > a {
    background: #E6AE48;
}
.woocommerce .product .onsale,
.woocommerce .product a.button:hover,
.woocommerce .product #respond input#submit:hover,
.woocommerce .checkout input#place_order:hover,
.woocommerce .woocommerce.widget .button:hover,
.single-product .product .summary .cart .button:hover,
.woocommerce-cart .woocommerce table.cart .button:hover,
.woocommerce-cart .woocommerce .shipping-calculator-form .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce-checkout .woocommerce input.button:hover,
.woocommerce-page .woocommerce a.button:hover,
.woocommerce-account div.woocommerce .button:hover,
.woocommerce.widget .ui-slider .ui-slider-handle,
.woocommerce.widget.widget_layered_nav_filters ul li a {
    background: none repeat scroll 0 0 #E6AE48 !important
}